<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="TigerInputPath" value="c:\\Code\\IWNLP.Lemmatizer\\Models\\tiger_release_aug07.corrected.16012013.conll09"/>
    <add key="TigerOutputPath" value="c:\\Code\\IWNLP.Lemmatizer\\Models\\tiger.xml"/>
    <add key="TuebaInputPath" value="c:\\Code\\IWNLP.Lemmatizer\Models\\tuebadz-9.1-conll2011.txt"/>
    <add key="TuebaOutputPath" value="c:\\Code\\IWNLP.Lemmatizer\\Models\\tuebadz.xml"/>
    <add key="HDTInputPath" value="c:\\Code\\IWNLP.Lemmatizer\\Models\\output_A"/>
    <add key="HDTOutputPath" value="c:\\Code\\IWNLP.Lemmatizer\\Models\\hdt.xml"/>
  </appSettings>
</configuration>
