<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <appSettings>
    <add key="TigerPathUntagged" value="c:\\Datasets\\IWNLP\\Corpora\\tiger.xml"/>
    <add key="TuebaPathUntagged" value="c:\\Datasets\\IWNLP\\Corpora\\tuebadz.xml"/>
    <add key="HdtPathUntagged" value="c:\\Datasets\\IWNLP\\Corpora\\hdt.xml"/>

    <add key="MateTueba" value="c:\\Datasets\\IWNLP\\Corpora\\tuebadz_tagged.xml"/>
    <add key="MateHdt" value="c:\\Datasets\\IWNLP\\Corpora\\hdt_tagged.xml"/>
    <add key="IWNLPTiger" value="c:\\Datasets\\IWNLP\\Corpora\\tiger_tagged_IWNLP.xml"/>
    <add key="IWNLPTueba" value="c:\\Datasets\\IWNLP\\Corpora\\tuebadz_tagged_IWNLP.xml"/>
    <add key="IWNLPHdt" value="c:\\Datasets\\IWNLP\\Corpora\\hdt_tagged_IWNLP.xml"/>
    <add key="TreeTaggerTiger" value="c:\\Datasets\\IWNLP\\Corpora\\tiger_tagged_treetagger.xml"/>
    <add key="TreeTaggerTueba" value="c:\\Datasets\\IWNLP\\Corpora\\tuebadz_tagged_treetagger.xml"/>
    <add key="TreeTaggerHdt" value="c:\\Datasets\\IWNLP\\Corpora\\hdt_tagged_treetagger.xml"/>
    <add key="MorphyTiger" value="c:\\Datasets\\IWNLP\\Corpora\\tiger_tagged_morphy2.xml"/>
    <add key="MorphyTueba" value="c:\\Datasets\\IWNLP\\Corpora\\tuebadz_tagged_morphy2.xml"/>
    <add key="MorphyHdt" value="c:\\Datasets\\IWNLP\\Corpora\\hdt_tagged_morphy2.xml"/>

    <add key="MorphyCSV" value="c:\\Datasets\\IWNLP\\morphy-mapping-20110717.csv"/>
    <!--<add key="IWNLPPath" value="c:\\Datasets\\IWNLP\\iwnlp_lemmatizer.xml"/>-->
    <add key="IWNLPPath" value="c:\\Datasets\\IWNLP\\IWNLP.Lemmatizer.xml"/>

    <add key="MateTools.LemmatizerPath" value="c:\\NLP\\Models\\MateTools\\lemma-ger-3.6.model"/>
    <add key="MateTools.MorphTaggerPath" value="c:\\NLP\\Models\\MateTools\\morphology-ger-3.6.model"/>
    <add key="MateTools.PosTaggerPath" value="c:\\NLP\\Models\\MateTools\\tag-ger-3.6.model"/>
    <add key="MateTools.DepTaggerPath" value="c:\\NLP\\Models\\MateTools\\parser-ger-3.6.model"/>
    <add key="MateTools.TempPath" value="c:\\NLP Tempfiles\\MateToolsTemp\\"/>
    <add key="TreeTagger.TreeTaggerExePath" value="c:\\NLP\\Models\\TreeTagger\\tree-tagger.exe"/>
    <add key="TreeTagger.TreeTaggerGermanPath" value="c:\\NLP\\Models\\TreeTagger\\german-utf8.par"/>
    <add key="TreeTagger.TreeTaggerTempPath" value="c:\\NLP Tempfiles\\TreeTaggerTemp\\"/>


  </appSettings>
</configuration>