<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <appSettings>
    <add key="TigerPathUntagged" value="D:\\Datasets\\IWNLP\\Corpora\\tiger.xml"/>
    <add key="TuebaPathUntagged" value="D:\\Datasets\\IWNLP\\Corpora\\tuebadz.xml"/>
    <add key="HdtPathUntagged" value="D:\\Datasets\\IWNLP\\Corpora\\hdt.xml"/>
    <add key="MateTueba" value="D:\\Datasets\\IWNLP\\Corpora\\tuebadz_tagged.xml"/>
    <add key="MateHdt" value="D:\\Datasets\\IWNLP\\Corpora\\hdt_tagged.xml"/>
    <add key="TreeTaggerTiger" value="D:\\Datasets\\IWNLP\\Corpora\\tiger_tagged_treetagger.xml"/>
    <add key="TreeTaggerTueba" value="D:\\Datasets\\IWNLP\\Corpora\\tuebadz_tagged_treetagger.xml"/>
    <add key="TreeTaggerHdt" value="D:\\Datasets\\IWNLP\\Corpora\\hdt_tagged_treetagger.xml"/>
    <add key="MorphyTiger" value="D:\\Datasets\\IWNLP\\Corpora\\tiger_tagged_morphy3.xml"/>
    <add key="MorphyTueba" value="D:\\Datasets\\IWNLP\\Corpora\\tuebadz_tagged_morphy3.xml"/>
    <add key="MorphyHdt" value="D:\\Datasets\\IWNLP\\Corpora\\hdt_tagged_morphy3.xml"/>
    <add key="MorphyCSV" value="D:\\Datasets\\IWNLP\\morphy-mapping-20110717.csv"/>
    <add key="MateTools.LemmatizerPath" value="D:\\NLP\\Models\\MateTools\\lemma-ger-3.6.model"/>
    <add key="MateTools.MorphTaggerPath" value="D:\\NLP\\Models\\MateTools\\morphology-ger-3.6.model"/>
    <add key="MateTools.PosTaggerPath" value="D:\\NLP\\Models\\MateTools\\tag-ger-3.6.model"/>
    <add key="MateTools.DepTaggerPath" value="D:\\NLP\\Models\\MateTools\\parser-ger-3.6.model"/>
    <add key="MateTools.TempPath" value="D:\\NLP Tempfiles\\MateToolsTemp\\"/>
    <add key="TreeTagger.TreeTaggerExePath" value="D:\\NLP\\Models\\TreeTagger\\tree-tagger.exe"/>
    <add key="TreeTagger.TreeTaggerGermanPath" value="D:\\NLP\\Models\\TreeTagger\\german-utf8.par"/>
    <add key="TreeTagger.TreeTaggerTempPath" value="D:\\NLP Tempfiles\\TreeTaggerTemp\\"/>
    <add key="IWNLPPath" value="D:\\Datasets\\IWNLP\\IWNLP.Lemmatizer_20170501.xml"/>
    <add key="IWNLPTiger" value="D:\\Datasets\\IWNLP\\Corpora\\tiger_tagged_IWNLP_20170501.xml"/>
    <add key="IWNLPTueba" value="D:\\Datasets\\IWNLP\\Corpora\\tuebadz_tagged_IWNLP_20170501.xml"/>
    <add key="IWNLPHdt" value="D:\\Datasets\\IWNLP\\Corpora\\hdt_tagged_IWNLP_20170501.xml"/>
  </appSettings>
</configuration>